pkgbase = comfykick
	pkgdesc = The Official ComfyUI Launch Process SUCKs🤮, this is better.
	pkgver = 1.9
	pkgrel = 1
	url = https://github.com/KFERMercer/ComfyKick
	install = comfykick.install
	arch = any
	license = GPL-3.0-only
	depends = python
	depends = python-yaml
	depends = uv
	optdepends = cuda: CUDA support
	optdepends = rocm-hip-sdk: ROCm support
	optdepends = intel-compute-runtime: Intel XPU support
	source = LICENSE
	source = comfykick.py
	source = comfykick.service
	source = comfykick.toml
	source = override.conf
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986
	sha256sums = 59d6b15b130aff7023a5a69ca2e04ce9a5c6733f08dd3ba0df6c4f90f0440c88
	sha256sums = 9456aac22fe356c8518c0787315fc0a4a18ca76f5202a6d6120321d60c609893
	sha256sums = 775e4f5601d4af7c07a233ef4b0155ecb2fb3f56d1dbc5c81f3e96f817a2cff4
	sha256sums = 4c993df4c0fa00334a9817adedcf2f2bcf8e60e071b378895b520cf0322782b2

pkgname = comfykick
